<div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img src="path_to_your_image.jpg" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">Product: {{product.product.name}}</h5>
                <p class="card-text">Category: {{product.product.catogery}}</p>
                <p class="card-text">Price: ${{product.product.price}}</p>
                <p class="card-text">Description: {{product.product.decription}}</p>
                <p class="card-text">Quantity: {{product.quantity}}</p>
            </div>
        </div>
    </div>